<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Research Assistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='assistant.png') }}" class="logo-icon" />
        <h1>AnalytIQ</h1>
    </header>

    <div class="chat-box">
        <div class="chat-container" id="chat">
            <div class="message bot">
                <img src="{{ url_for('static', filename='assistant.png') }}" class="avatar" />
                <p>Hello! How can I assist you?</p>
            </div>
        </div>

        <form class="input-form" onsubmit="sendMessage(event)">
            <select id="explanation-length-select">
                <option value="medium">Medium</option>
                <option value="short">Short</option>
                <option value="long">Long</option>
            </select>
            <input id="message-input" type="text" placeholder="Type your message..." autocomplete="off" />
            <button type="submit">SEND</button>
        </form>

        <footer>
            <p class="subheading">
                madeby: mayurGawande
                <a href="https://www.linkedin.com/in/mayurgawande/" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='linkedin_icon.jpeg') }}" class="external-link-icon">
                </a>
                <a href="https://github.com/mayur1gawande" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='github_icon.png') }}" class="external-link-icon">
                </a>
            </p>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script> 
</body>

</html>
